<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<!--CUSTOM WRITTEN SECTIONS -->
	<log4net>
		<appender name="RollingFileAppender2" type="log4net.Appender.RollingFileAppender">
			<file value="Log.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="1000KB" />
			<staticLogFileName value="true" />
			<!--<datePattern value=" yyyy-MM-dd HH_mm'.log'" />-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
			<threshold value="INFO" />
			<!--log all lower than this-->
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value=".\Logs\\app.log" />
			<appendToFile value="true" />
			<PreserveLogFileNameExtension value="true" />
			<rollingStyle value="Composite" />
			<!--Roll files based on both the size and date of the file -->
			<maxSizeRollBackups value="-1" />
			<!--unlimited rolls-->
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<!--<datePattern value=" yyyy-MM-dd HH_mm'.log'" />-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
			<threshold value="INFO" />
			<!--log all lower than this-->
		</appender>
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Green" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<foreColor value="Cyan" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="White" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%thread] %-5level %message  %date - %logger%newline" />
			</layout>
		</appender>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<applicationName value="AssignmentAPP" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<!--<level value="DEBUG" />
			 Options are "ALL", "DEBUG", "INFO", "WARN", "ERROR", "FATAL" and "OFF".-->
			<appender-ref ref="RollingFileAppender" />
			<!--<appender-ref ref="RollingFileAppender1" />-->
			<!--<appender-ref ref="ColoredConsoleAppender" />-->
			<!--<appender-ref ref="EventLogAppender" />-->
		</root>
	</log4net>
</configuration>